<!DOCTYPE html>
<html>
    <head>
        <title> Akamai Cache Purge Utility  </title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' >
    </head>
    <body>        

<header class='jumbotron'>
	<div class='container'>
	<h2> Akamai Cache Purge Utility </h2>
</div>
</header>


