<% include partials/header %>

<div class='container'>

<form action='/cache-clear' method='POST'  >

 <div class='form-group'>
  <label for='pageurl'> Page URL: </label>
	<textarea class='form-control' name='pageurl'  cols=50 rows=5> </textarea>
	<button class="btn btn-default" > Submit! </button>
 </div>
</from>
</div>


<% include partials/footer %>
